@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar navbar-dark bg-primary shadow-sm mb-4">
            <div class="container">
                <a class="navbar-brand fw-bold" href="#">
                    <i class="bi bi-instagram me-2"></i> Analizador de Instagram
                </a>
            </div>
        </nav>

        <article class="container">
            @Body
        </article>
    </main>
</div>